{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}
    <style>
        h1 {
            text-align: center;
        }
        #buscador {
            text-align: center;
        }
        .btn {
            margin-right: 5px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="btn btn-primary"><a href="{{ path('app_inicio')}}" style="text-decoration: none; color: white;">Inicio</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_usuarios_index')}}" style="text-decoration: none; color: white;">Usuarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_comentarios_index')}}" style="text-decoration: none; color: white;">Comentarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_productos_index')}}" style="text-decoration: none; color: white;">Productos</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_servicios_index')}}" style="text-decoration: none; color: white;">Servicios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_reservas_index')}}" style="text-decoration: none; color: white;">Reservas</a></button>
        <button class="btn btn-primary"><a href="http://localhost:3000/" style="text-decoration: none; color: white;">Pagina Web</a></button>
    </nav>
    <h1>Tickets index</h1>
    <br>
    <div id="buscador">
        <form method="post" action="/tickets/buscar">
            <p>Busca el ticket con el email del usuario:</p>
            <input name="email" value="">
            <input class="btn btn-primary" type="submit" value="Cercar">
        </form>
    </div>
    <a href="{{ path('app_tickets_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Fecha</th>
                <th>Precio_total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.telefono }}</td>
                <td>{{ ticket.fecha }}</td>
                <td>{{ ticket.precioTotal }}€</td>
                <td>
                    <a href="{{ path('app_tickets_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_tickets_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
