{% extends 'base.html.twig' %}

{% block title %}Busqueda{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        h1 {
            text-align: center;
        }
        .btn {
            margin-right: 5px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="btn btn-primary"><a href="{{ path('app_inicio')}}" style="text-decoration: none; color: white;">Inicio</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_usuarios_index')}}" style="text-decoration: none; color: white;">Usuarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_comentarios_index')}}" style="text-decoration: none; color: white;">Comentarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_productos_index')}}" style="text-decoration: none; color: white;">Productos</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_servicios_index')}}" style="text-decoration: none; color: white;">Servicios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_estilos_index')}}" style="text-decoration: none; color: white;">Estilos</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_tickets_index')}}" style="text-decoration: none; color: white;">Tickets</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_reservas_index')}}" style="text-decoration: none; color: white;">Reservas</a></button>
        <button class="btn btn-primary"><a href="http://localhost:3000" style="text-decoration: none; color: white;">Pagina Web</a></button>
    </nav>
    <div class="example-wrapper">
        <h1>Resultado</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Articulo</th>
                    <th>Unidades</th>
                    <th>Precio total</th>
                    <th>Fecha</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.nombre }}</td>
                    <td>{{ ticket.cantidades }}</td>
                    <td>{{ ticket.precio_total }}€</td>
                    <td>{{ ticket.fecha }}</td>
                    <td>{{ ticket.email }}</td>
                    <td>{{ ticket.telefono }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}