{% extends 'base.html.twig' %}

{% block title %}Usuarios index{% endblock %}

{% block body %}
    <style>
        h1 {
            text-align: center;
        }
        #buscador {
            text-align: center;
        }
        .btn {
            margin-right: 5px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="btn btn-primary"><a href="{{ path('app_inicio')}}" style="text-decoration: none; color: white;">Inicio</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_comentarios_index')}}" style="text-decoration: none; color: white;">Comentarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_productos_index')}}" style="text-decoration: none; color: white;">Productos</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_servicios_index')}}" style="text-decoration: none; color: white;">Servicios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_tickets_index')}}" style="text-decoration: none; color: white;">Tickets</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_reservas_index')}}" style="text-decoration: none; color: white;">Reservas</a></button>
        <button class="btn btn-primary"><a href="http://localhost:3000/" style="text-decoration: none; color: white;">Pagina Web</a></button>
        <p>Hola</p>
    </nav>
    <h1>Usuarios index</h1>
    <br>
    <div id="buscador">
        <form method="post" action="/usuarios/buscar">
            <p>Busca un usuario con su email:</p>
            <input name="email" value="">
            <input class="btn btn-primary" type="submit" value="Cercar">
        </form>
    </div>
    <a href="{{ path('app_usuarios_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contrasena</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.contrasena }}</td>
                <td>
                    <a href="{{ path('app_usuarios_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('app_usuarios_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
