{% extends 'base.html.twig' %}

{% block title %}Busqueda{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        h1 {
            text-align: center;
        }
        .btn {
            margin-right: 5px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="btn btn-primary"><a href="{{ path('app_inicio')}}" style="text-decoration: none; color: white;">Inicio</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_usuarios_index')}}" style="text-decoration: none; color: white;">Usuarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_comentarios_index')}}" style="text-decoration: none; color: white;">Comentarios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_productos_index')}}" style="text-decoration: none; color: white;">Productos</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_servicios_index')}}" style="text-decoration: none; color: white;">Servicios</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_tickets_index')}}" style="text-decoration: none; color: white;">Tickets</a></button>
        <button class="btn btn-primary"><a href="{{ path('app_reservas_index')}}" style="text-decoration: none; color: white;">Reservas</a></button>
        <button class="btn btn-primary"><a href="http://localhost:3000" style="text-decoration: none; color: white;">Pagina Web</a></button>
    </nav>
    <div class="example-wrapper">
        <h1>Resultado</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contrasena</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.contrasena }}</td>
                    <td>
                        <a href="{{ path('app_usuarios_show', {'id': usuario.id}) }}">show</a>
                        <a href="{{ path('app_usuarios_edit', {'id': usuario.id}) }}">edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}